#pageName {
    font-weight: bolder;
    font-size: 4rem;
    text-align: center;
    background-color: black;
    color: red;
    margin-top: 0.5%;
}

#cart_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c7b7b7;
    margin-left: 40%;
    margin-right: 40%;
}

#item_name {
    font-weight: bold;
    margin-right: 10px;
    color: rgb(0, 8, 255);
}

#item_price {
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.2rem;
}

#cart_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 1.2rem;
    background-color: rgb(26, 223, 200);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
}

#detailsPage_btn_div{
    text-align: center;
}

#payment_button {
    /* text-align: center; */
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

#payment_button:hover {
    background-color: #3e8e41;
}